.button-box {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.donate-button,
.receive-button {
  cursor: pointer;
  font-family: inherit;
  color: black;
  font-weight: 600;
  font-size: 1.1rem;
  background-color: #5ca4a9;
  border: 0;
  margin: 0.5rem;
  height: 5rem;
  width: 10rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 5px rgba(51, 101, 138, 0.5);
}

.donate-button:hover {
  box-shadow: 0px 0px 5px #33658a;
}
.receive-button:hover {
  box-shadow: 0px 0px 5px #33658a;
}
